@font-face {
	font-weight: 400;
	font-family: 'Roboto';
	src: url('../vendor/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
  url('../vendor/fonts/Roboto/Roboto-Regular.woff') format('woff');

}

@font-face {
	font-weight: 500;
	font-family: 'Roboto';
  src: url('../vendor/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
  url('../vendor/fonts/Roboto/Roboto-Medium.woff') format('woff');
}
