@use '../mixins/mixins';
@use '../variables/colors';

.button {
  @include mixins.font-style-roboto();
  background-color: colors.$button;
  padding: 0;
  border: 0;
  color: colors.$text-primary;
  text-align: center;
}
