@use '../mixins/mixins';
@use '../variables/colors';

.content-container {
  padding: 40px 0 30px;
  @include mixins.font-style-roboto();
  @include mixins.tablets {
    padding: 60px 0;
  }
  &:last-child {
    padding-bottom: 180px;
    border-bottom: 2px solid #151515;
    @include mixins.tablets {
      padding-bottom: 205px;
    }
    @include mixins.desktop-wide {
      padding-bottom: 240px;
    }
  }
  &__header {
    margin: 0;
    font-weight: inherit;
    color: colors.$text-primary;
    font-size: 12px;
    line-height: 18px;
    @include mixins.tablets {
      font-size: 20px;
      line-height: 30px;
    }
    @include mixins.desktop-wide {
      font-size: 32px;
      line-height: 40px;
    }
    &_place {
      &_top {
        margin-bottom: 40px;
        @include mixins.tablets {
          margin-bottom: 60px;
        }
        @include mixins.desktop-wide {
          margin-bottom: 60px;
        }
      }
      &_bottom {
        margin-top: 20px;
        @include mixins.tablets {
          margin-top: 60px;
        }
        @include mixins.desktop-wide {
          margin-top: 55px;
        }
      }
    }
  }
  &__paragraph {
    margin: 0;
    color: colors.$text-secondary;
    font-size: 12px;
    line-height: 18px;
    @include mixins.tablets {
      font-size: 20px;
      line-height: 30px;
    }
    @include mixins.desktop-wide {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__button {
    width: 100%;
    max-width: 306px;
    margin: 10px 0 30px;
    padding: 16px;
    @include mixins.rounded-block(8px);
    font-size: 12px;
    line-height: 18px;
    @include mixins.tablets {
      margin: 15px 0 40px;
      font-size: 14px;
      line-height: 24px;
    }
    @include mixins.desktop-wide {
      margin: 25px 0 48px;
    }
  }
}
