@use '../mixins/mixins';
@use '../variables/colors';

.content-container {
  padding: 40px 0 30px;
  @include mixins.font-style-roboto();
  &__header {
    margin: 0;
    font-weight: inherit;
    color: colors.$text-primary;
    font-size: 12px;
    line-height: 1.5;
    &_place {
      &_top {
        margin-bottom: 40px;
      }
      &_bottom {
        margin-top: 20px;
      }
    }
  }
  &__paragraph {
    margin: 0;
    color: colors.$text-secondary;
    font-size: 12px;
    line-height: 1.5;
  }
  &__button {
    width: 100%;
    max-width: 306px;
    margin: 10px 0 30px;
    padding: 16px;
    @include mixins.rounded-block(8px);
    font-size: 12px;
    line-height: 1.3;
  }
  &:last-child {
    padding-bottom: 180px;
    border-bottom: 2px solid #151515;
  }
  @include mixins.tablets {
    padding: 60px 0;
    &:last-child {
      padding-bottom: 205px;
    }
    &__header {
      font-size: 20px;
      &_place {
        &_bottom {
          margin-top: 60px;
        }
        &_top {
          margin-bottom: 60px;
        }
      }
    }
    &__paragraph {
      font-size: 20px;
    }
    &__button {
      margin: 15px 0 40px;
      font-size: 14px;
    }
  }
  @include mixins.desktop-wide {
    &:last-child {
      padding-bottom: 240px;
    }
    &__header {
      font-size: 32px;
      line-height: 1.3;
      &_place {
        &_bottom {
          margin-top: 55px;
        }
        &_top {
          margin-bottom: 60px;
        }
      }
    }
    &__paragraph {
      font-size: 32px;
      line-height: 1.3;
    }
    &__button {
      margin: 25px 0 48px;
    }
  }
}
