@use '../mixins/mixins';
@use '../variables/colors';

.footer {
  padding: 30px 0 20px;
  @include mixins.flex(184px, column, space-between, flex-start);
  &__wrapper {
    width: 100%;
    @include mixins.flex(40px, column, space-between, flex-start);
  }
  &__copyright {
    margin: 0;
    @include mixins.font-style-roboto();
    color: colors.$button;
    font-size: 12px;
    line-height: 1.5;
  }
  @include mixins.tablets {
    padding: 60px 0;
  }
  @include mixins.desktop-wide {
    &__copyright {
      align-self: flex-end;
    }
  }
}
