@use '../mixins/mixins';
@use '../variables/colors';

.lead {
  padding: 60px 0 20px;
  color: colors.$text-primary;
  @include mixins.font-style-roboto();
  @include mixins.tablets {
    padding: 70px 0 32px;
  }
  @include mixins.desktop-wide {
    padding: 60px 0;
  }
  &__header {
    margin: 0;
    font-size: 50px;
    line-height: 60px;
    font-weight: inherit;
    @include mixins.tablets {
      font-size: 70px;
      line-height: 90px;
    }
    @include mixins.desktop-wide {
      font-size: 112px;
      line-height: 112px;
    }
  }
  &__paragraph {
    margin: 10px 0 260px;
    font-size: 30px;
    line-height: 38px;
    @include mixins.tablets {
      margin: 0 0 470px;
      font-size: 50px;
      line-height: 60px;
    }
    @include mixins.desktop-wide {
      margin: 18px 0 232px;
      font-size: 80px;
      line-height: 70px;
    }
  }
}
