@use '../mixins/mixins';
@use '../variables/colors';

.lead {
  padding: 60px 0 20px;
  color: colors.$text-primary;
  @include mixins.font-style-roboto();
  &__header {
    margin: 0;
    font-size: 50px;
    line-height: 1.2;
    font-weight: inherit;
  }
  &__paragraph {
    margin: 10px 0 260px;
    font-size: 30px;
    line-height: 1.3;
  }
  @include mixins.tablets {
    padding: 70px 0 32px;
    &__header {
      font-size: 70px;
      line-height: 1.3;
    }
    &__paragraph {
      margin: 0 0 470px;
      font-size: 50px;
      line-height: 1.3;
    }
  }
  @include mixins.desktop-wide {
    padding: 60px 0;
    &__header {
      font-size: 112px;
      line-height: 1;
    }
    &__paragraph {
      margin: 20px 0 230px;
      font-size: 80px;
      line-height: 1;
    }
  }
}
