@use '../mixins/mixins';
@use '../variables/colors';

.mail-form {
  color: colors.$text-primary;
  @include mixins.font-style-roboto();
  @include mixins.flex(10px, column, $align: flex-start);
  &__field {
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    height: 50px;
    width: 100%;
    @include mixins.flex();
  }
  &__input {
    height: 100%;
    width: 100%;
    border: 0;
    background-color: colors.$secondary;
    color: inherit;
    &:focus {
      outline: 0;
      background-color: colors.$secondary-on-hover;
    }
  }
  &__button {
    font-size: 10px;
    line-height: 1;
    height: 100%;
    min-width: 50px;
    &:before {
      content: '\270C';
    }
    &_active {
      &:before {
        content: '\1F44D';
      }
    }
  }
  &__tip {
    color: colors.$button;
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
  }
  @include mixins.tablets {
    &__button {
      min-width: 221px;
      font-size: 14px;
      line-height: 1.7;
      &:before {
        content: 'Отремонтируйте камеру \270C';
      }
      &_active {
        &:before {
          content: 'Круто, спасибо за доверие!';
        }
      }
    }
  }
}
