@use '../mixins/mixins';
@use '../variables/colors';

.mail-form {
  color: colors.$text-primary;
  @include mixins.font-style-roboto();
  @include mixins.flex(10px, column, $align: flex-start);
  width: 100%;
  &__field {
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    height: 50px;
    width: 100%;
    @include mixins.flex();
    @include mixins.tablets {
      min-width: 569px;
    }
    @include mixins.desktop-wide {
      width: auto;
    }
  }
  &__input {
    height: 100%;
    width: 100%;
    border: 0;
    background-color: colors.$secondary;
    color: inherit;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.4px;
    padding-left: 16px;
    &:hover {
      background-color: colors.$secondary-on-hover;
      cursor: pointer;
    }
    &:focus {
      outline: 0;
      background-color: colors.$secondary-on-hover;
      cursor: text;
    }
  }
  &__button {
    font-size: 10px;
    line-height: 1;
    height: 100%;
    min-width: 50px;
    @include mixins.tablets {
      min-width: 221px;
      font-size: 14px;
      line-height: 1.7;
    }
    &:before {
      content: '\270C';
      @include mixins.tablets {
        content: 'Отремонтируйте камеру \270C';
      }
    }
    &_active {
      &:before {
        content: '\1F44D';
        @include mixins.tablets {
          content: 'Круто, спасибо за доверие!';
        }
      }
    }
  }
  &__tip {
    color: colors.$button;
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
    @include mixins.tablets {
      margin-left: 10px;
    }
    &_place {
      &_footer {
        @include mixins.tablets {
          margin: 5px 0 0;
        }
      }
    }
  }
}
